@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTQcuEIXEaFWBWXA4NoGd_Oo.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/RjgO7rYTmqiVp7vzi-Q5UbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSgcuEIXEaFWBWXA4NoGd_Oo.woff) format('woff');
}

html {
  /*background: url(../content/images/background.jpg) center center;*/
  font-family: 'Open Sans', serif;
}

.famous-container {
  background: rgba(255, 255, 255, 0.25);
}

.header, .footer {
  z-index: 10000;
}

.title {
  background: rgba(87, 154, 154, 0.5);
  background: -moz-linear-gradient(top, rgba(87, 154, 154, 0.7) 0%, rgba(87, 154, 154, 0.3) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87, 154, 154, 0.7)), color-stop(100%,rgba(87, 154, 154, 0.3))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(87, 154, 154, 0.7) 0%,rgba(87, 154, 154, 0.3) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(87, 154, 154, 0.7) 0%,rgba(87, 154, 154, 0.3) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(87, 154, 154, 0.7) 0%,rgba(87, 154, 154, 0.3) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(87, 154, 154, 0.7) 0%,rgba(87, 154, 154, 0.3) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 24px;
  font-family: 'Open Sans', serif;
  letter-spacing: 1px;
}

.email-title {
  color: rgba(255, 255, 255, 0.75);
  font-size: 24px;
  font-family: 'Open Sans', serif;
  letter-spacing: 1px;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-bottom: .5em;
}

#main-input {
  width: 98%;
  height: 26px;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 26px;
  border: 2px solid rgba(255, 255, 255, 0.33);
  background: transparent;
  border-radius: 5px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

#main-input-email, #main-input-channel, #main-input-save {
  width: 286px;
  height: 26px;
  padding: 1px 5px;
  font-size: 18px;
  line-height: 26px;
  border: 2px solid rgba(255, 255, 255, 0.33);
  background: transparent;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: .5em;
}

#main-input-save {
  width: 286px;
  background: rgba(255, 255, 255, 0.33);
  height: 26px;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.footer {
  padding: 5px 4px 4px;
  background: rgba(87, 154, 154, 0.5);
  background: -moz-linear-gradient(top, rgba(87, 154, 154, 0.3) 0%, rgba(87, 154, 154, 0.7) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87, 154, 154, 0.3)), color-stop(100%,rgba(87, 154, 154, 0.7))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(87, 154, 154, 0.3) 0%,rgba(87, 154, 154, 0.7) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(87, 154, 154, 0.3) 0%,rgba(87, 154, 154, 0.7) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(87, 154, 154, 0.3) 0%,rgba(87, 154, 154, 0.7) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(87, 154, 154, 0.3) 0%,rgba(87, 154, 154, 0.7) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 10000;
}

.clearfix {
  clear: both;
}

div.message {
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 300;
}

div.message > i {
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  top: 16px;
  left: 69px;
  width: 6px;
  overflow: hidden;
}

.item .message-text {
  margin: 5px 0 0 60px;
  line-height: 1.6em;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  display: block;
  font-size: 14px;
  padding: 5px 10px;
}

.author {
  width: 40px;
  height: 40px;
  font-weight: 300;
  border-radius: 999px;
  float: left;
  border: 3px solid rgba(255, 255, 255, 0.33);
  margin-right: 15px;
}

::-webkit-input-placeholder { color:rgba(255, 255, 255, 0.33); }
::-moz-placeholder { color:rgba(255, 255, 255, 0.33); } /* firefox 19+ */
:-ms-input-placeholder { color:rgba(255, 255, 255, 0.33); } /* ie */
input:-moz-placeholder { color:rgba(255, 255, 255, 0.33); }

.email-wrapper {
  position: relative;
  background: rgb(87, 154, 154);
  background: -moz-linear-gradient(top, rgb(87, 154, 154) 0%, rgb(87, 154, 154) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(87, 154, 154)), color-stop(100%,rgb(87, 154, 154))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgb(87, 154, 154) 0%,rgb(87, 154, 154) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgb(87, 154, 154) 0%,rgb(87, 154, 154) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgb(87, 154, 154) 0%,rgb(87, 154, 154) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgb(87, 154, 154) 0%,rgb(87, 154, 154) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 10002;
}

.email-container {
  width: 300px;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -150px;
}

#main-input-email.error {
  border: 2px solid rgba(255, 100, 100, 0.33);
}

.timeago {
  font-size: 10px;
  color: white;
  float: right;
  line-height: 16px;
  font-weight: 400;
}

.new-message .message-text {
  background: rgba(255, 255, 255, 0.9);
}

div.new-message > i {
  color: rgba(255, 255, 255, 0.9);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#main-input:focus,
#main-input-email:focus,
#main-input-channel:focus {
  border: 2px solid rgba(255, 255, 255, 0.5);
}
